@font-face {
  font-family: marvel;
  src: url(./Assets/fonts/MarvelRegular-Dj83.ttf);
}

@font-face {
  font-family: kiona;
  src: url(./Assets/fonts/Kiona-Regular.ttf);
}

nav {
  background-color: #000000;
  text-align: center;
  font-family: marvel;
  height: 9vh;
}

.medio {
  background-color: red;
  display: inline-block;
  padding: 0.4rem;
  height: 9vh;
}

.title {
  font-family: marvel;
  text-align: center;
  font-size: 3.5em;
  color: #dfdfdf;
  font-weight: 200;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #a48394, 0px 0px 7px rgb(212, 212, 212);
  margin-top: 1rem;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px rgb(253, 105, 105), 0px 0px 50px #fcfcfc93, 0px 0px 150px #fcfcfc93, 0px 10px 100px #fcfcfc93, 0px 10px 100px #fcfcfc93,
      0px 10px 100px #fcfcfc93, 0px 10px 100px #fcfcfc93, 0px -10px 100px #fcfcfc93, 0px -2px 100px #fcfcfc93;
  }
}

.hero {
  background-image: url(./Assets/images/Hero-image.jpg);
  height: 60vh;
}

.titulo-busqueda {
  font-size: 2em;
  font-family: kiona;
  font-weight: bolder;
  color: black;
}

.search {
  margin: 60px 10px 80px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
}

.search-container,
.search-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-inner-container {
  flex-wrap: wrap;
}

.search-input-container {
  position: relative;
  min-width: 50%;
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.search-input {
  border: 0;
  border-bottom: 2px solid #000000;
  width: 100%;
  padding: 5px 35px;
  border-radius: 0;
  font-size: 26px;
  font-family: kiona;
  box-sizing: border-box;
}

.results-title,
.results-count {
  margin-left: 10px;
}

.results-count,
label {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 10px;
}

select {
  color: 0.151515;
  font-family: kiona;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
}

select:first-of-type {
  margin-right: 30px;
}

.search-button {
  margin-left: 30px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-family: marvel;
  font-size: 1.7em;
  border: none;
  border-radius: 2%;
}

.search-button:hover {
  background-color: red;
  transition: 4s;
}

.disabled{
  background-color: rgb(182, 179, 179);
  pointer-events: none;
}

footer {
  color: white;
  font-family: kiona;
  font-size: 1.5em;
  height: 15vh;
  text-align: center;
  background-color: black;
}
